@model clinica.Models.HistorialMedico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistorialMedico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tratamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamenMedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamenMedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRealizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRealizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistorialMedicoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
